<%= turbo_frame_tag "appearance_channel"%>
<div id="appearance_channel"></div>

  <div id="chatroom_container" class="w-full h-full">
    <div class="flex flex-no-wrap">
      <div class="w-64 z-40 absolute bg-gray-800 shadow md:h-full flex-col justify-between transition duration-150 ease-in-out" id="mobile-nav"  style="height: 1116px;"  data-controller="sidebar" data-sidebar-target="sidebar">
        <div style="margin-top: -59px;">  
          <button 
          data-action="click->sidebar#toggleSidebar"
          data-sidebar-target="openButton"
          aria-label="toggle sidebar" id="openSideBar" class="h-10 w-10 bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 rounded focus:ring-gray-800" >
          <svg  xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-adjustments" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <circle cx="6" cy="10" r="2" />
            <line x1="6" y1="4" x2="6" y2="8" />
            <line x1="6" y1="12" x2="6" y2="20" />
            <circle cx="12" cy="16" r="2" />
            <line x1="12" y1="4" x2="12" y2="14" />
            <line x1="12" y1="18" x2="12" y2="20" />
            <circle cx="18" cy="7" r="2" />
            <line x1="18" y1="4" x2="18" y2="5" />
            <line x1="18" y1="9" x2="18" y2="20" />
          </svg>
        </button>
        <button 
          data-action="click->sidebar#toggleSidebar"
          data-sidebar-target="closeButton"
          aria-label="Close sidebar" id="closeSideBar" class="hidden h-10 w-10 bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 absolute right-0 mt-16 -mr-10 flex items-center shadow rounded-tr rounded-br justify-center cursor-pointer text-white" >
          <svg  xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <line x1="18" y1="6" x2="6" y2="18" />
            <line x1="6" y1="6" x2="18" y2="18" />
          </svg>
        </button>
        </div>
        <div class="px-8">
          <div class="h-16 w-full flex items-center" style="padding-top: 56px;">
            <h3 class="text-white font-mono" style="margin-top: 10px;">Swissfit</h3>
          </div>
          <div class="flex flex-col items-center bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% border border-gray-100 mt-4 w-full py-6 px-4 rounded-lg">
            <div class="h-20 w-20 rounded-full border overflow-hidden">
              <%= image_tag(current_user.avatar_thumbnail,class:"h-full w-full")%>
            </div>
            <div class=''>
              <%= render "users/status", user: current_user %>
            </div>
            <div class="text-sm font-semibold mt-2"><%= current_user.username%></div>
            <div class="text-xs text-gray-500"><%= current_user.email%></div>
          </div>
          <div class="mt-12">
            <h5 class="text-center user-title">Users</h5>
            <%= turbo_stream_from "users" %>
            <div id="users">
              <%= render @users%>
            </div>
          </div>
          <div class="flex justify-center mt-48 mb-4 w-full">
            <div class="relative">                  
              <h5 class="text-center mb-3 room-title ">Rooms</h5>
              <%= turbo_stream_from "rooms" %>
              <%= render 'shared/new_room_form'%>
              <%= render 'shared/search_form'%>
             
              <div id="rooms">
                <%= render @joined_rooms %>
              </div>                    
            </div>
          </div>
        </div>
    </div>
    
    <div id="room_container" class="w-full flex-1 p:2 flex flex-col h-screen chat-room-cont" style="height: 1122px;">
      <% if @single_room %>
      <div>
      <h4 class="text-xl header-text text-center ">
        <%=@user&.username || @single_room.name %>

      </h4>
    </div>
          <%=turbo_stream_from @single_room %>      
          <div id="messages" data-controller="scroll" class="flex flex-col space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
            <%= render @messages %>
          </div>
          <%= render 'shared/new_message_form'%>
      <%end%>
    </div>
  </div>
</div>

