<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <style>
      <%= ".cont-#{current_user&.id}"%> {
        display: flex;
        justify-content: flex-end;

      }
      <%= ".message-#{current_user&.id}"%> {
        background-color: #e3effd;
        box-shadow: 0px 8px 10px rgba(0,0,0,0.2);
      }

    </style>
    
  </head>

  <body>
  <%= render 'shared/nav'%>

      <%= yield %>
  </body>
</html>
